@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
a {
  color: lightgreen;
  font-family: 'Cinzel Decorative', cursive;
  
}
h1 {
  color: firebrick;
  font-family: 'Cinzel Decorative', cursive;
}
h2 {
  color: firebrick;
  font-family: 'Cinzel Decorative', cursive;
}
h3 {
  color: firebrick;
  font-family: 'Cinzel Decorative', cursive;
}

